# Sesi 1

In [2]:
print(10)

10

In [3]:
print(type(123))

<class 'int'>

In [4]:
print("Hacktiv8")

Hacktiv8

In [7]:
print("s"in"senin")

True

In [13]:
n=100
print(n)

100

In [20]:
today="Tuesday"

In [121]:
print(today == "Tuesday")

True

In [26]:
x = "Adit"

In [27]:
y = "Dodi"

In [28]:
z = 2.5

In [29]:
print(z)

2.5

In [37]:
print(x + " sedang melihat hasil ujian " + y)

Adit sedang melihat hasil ujian Dodi

In [99]:
a = 2
b = 3

In [100]:
print(a+b)

5

In [101]:
print(b-a)

1

In [102]:
print(a**b)

8

In [103]:
print(b/a)

1.5

In [104]:
s="foo"

In [105]:
t="bar"

In [106]:
u="yuw"

In [107]:
print(s+" "+t)

foo bar

In [108]:
firstname="Caesar"
lastname="Sartana"

In [69]:
print("Hi, " + firstname + " " + lastname)

Hi, Caesar Sartana

In [118]:
if(a==2):
    print("benar")

benar

In [77]:
nilai=[432,4392,2984,39]

In [78]:
nilai2=[1,2,3,4,5,6,7]

In [82]:
print(nilai[-1])

39

In [83]:
print(nilai2[4:6])

[5, 6]

In [84]:
buahku=("jeruk","apel","mangga")

In [88]:
print(buahku + ["pisang"])

TypeError: can only concatenate tuple (not "list") to tuple

In [89]:
print(len(buahku))

3

In [91]:
if (len(buahku<=3)):
    print("kurang banyak")
else:
    print("sudah cukup")

TypeError: '<=' not supported between instances of 'tuple' and 'int'

Modifying a Single List Value

In [122]:
aaa=['foo','bar','baz','qux','quux','corge']

In [127]:
print(aaa)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [131]:
aaa=['foo',"bar",'baz','qux','quux','corge']

['bar', 'baz', 'qux']

In [135]:
aaa(1:4)=[100,200,300,400,500]

SyntaxError: invalid syntax (1994893290.py, line 1)

In [137]:
(s1,s2,s3,s4)=('satu','dua','tiga','empat')

In [138]:
print(s1)

satu

In [141]:
ktp = {
    'nama' : 'Caesar Sartana',
    'telp' : '0812',
    'alamat' : 'Jakarta'
}

In [143]:
print(ktp['telp'])

0812

In [144]:
print(ktp)

{'nama': 'Caesar Sartana', 'telp': '0812', 'alamat': 'Jakarta'}

In [146]:
person['name']='Caesar'
person['address']='Jakarta'
person['phone']='0812'

NameError: name 'person' is not defined

In [147]:
print(person)

NameError: name 'person' is not defined

In [154]:
person1=10
person2=15
person3=21

(person1>=person2 and person3 ==21)

False

In [ ]:
person1=10
person2=15
person3=21

(person1>=person2 and person3 ==21)